USE [master]
GO
/****** Object:  Database [student]    Script Date: 2020/9/29 10:26:52 ******/
CREATE DATABASE [student]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'student', FILENAME = N'F:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\student.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'student_log', FILENAME = N'F:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\student_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [student].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [student]
GO
/****** Object:  Table [dbo].[studentInfo]    Script Date: 2020/9/29 10:26:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[studentInfo](
	[studentNum] [nchar](20) NOT NULL,
	[studentSex] [nchar](20) NOT NULL,
	[mobile] [nchar](20) NOT NULL,
	[password] [nchar](20) NOT NULL,
	[birthday] [datetime] NULL,
	[province] [nchar](20) NULL,
	[city] [nchar](20) NULL,
	[district] [nchar](20) NULL,
	[isDelete] [bit] NOT NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[studentName] [varchar](20) NOT NULL,
	[classId] [varchar](20) NOT NULL,
 CONSTRAINT [studentInfo_pk] PRIMARY KEY NONCLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Index [studentInfo_ID_uindex]    Script Date: 2020/9/29 10:26:52 ******/
CREATE UNIQUE NONCLUSTERED INDEX [studentInfo_ID_uindex] ON [dbo].[studentInfo]
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[studentInfo] ADD  DEFAULT ((0)) FOR [isDelete]
GO
USE [master]
GO
